.red_text {
    font-weight: bold;
    font-size: 14pt;
    color: rgba(186,29,24,255);
}

body {
    background-color:rgba(169, 24, 42, 255);
    margin: 0px;
}

div {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 15px rgb(65, 64, 64);
    background-color: white;
    margin-top: 0px;
    margin-right: 70px;
    margin-left: 70px;
    margin-bottom: 70px;
    border-top: 20px solid rgb(39, 39, 39);
    border-bottom: 40px solid rgb(39, 39, 39);
    padding-left: 20px;
}

table, th, td {
    border: 2px solid rgb(199, 199, 199);
    border-collapse: collapse;
    text-align: left;
}

td, th {
    padding-left: 10px;
    width:190px
}

td {
    height: 90px;
}

th {
    background-color: rgba(221,221,221,255);
    height: 30px;
}

form {
    margin: 10px 60px;
    margin-right: 400px;
    margin-left: 0px;
    background-color:rgba(233,239,241,255);
    padding-top: 20px;
    margin-bottom: 20px;
    border: 2px solid rgba(173, 200, 209, 0.603);
}

input {
    width: 100px;
    height: 30px;
    margin: 5px;
    border: 2px solid rgb(199, 199, 199);
    -webkit-appearance: none;
}

.button {
    text-align: right;
}


